FusService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.fus.client.chipkarte.at" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soap.fus.client.chipkarte.at" name="FusService">
  <types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://exceptions.soap.base.client.chipkarte.at" elementFormDefault="qualified" targetNamespace="http://exceptions.soap.base.client.chipkarte.at" version="1.0">
      <xs:element name="AccessException" type="tns:accessExceptionContent" />
      <xs:element name="CardException" type="tns:cardExceptionContent" />
      <xs:element name="DialogException" type="tns:dialogExceptionContent" />
      <xs:element name="ServiceException" type="tns:serviceExceptionContent" />
      <xs:complexType name="accessExceptionContent">
        <xs:complexContent>
          <xs:extension base="tns:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseExceptionContent">
        <xs:sequence>
          <xs:element name="code" type="xs:string" minOccurs="0" />
          <xs:element name="errorCode" type="xs:int" minOccurs="0" />
          <xs:element name="message" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cardExceptionContent">
        <xs:complexContent>
          <xs:extension base="tns:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="dialogExceptionContent">
        <xs:complexContent>
          <xs:extension base="tns:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="serviceExceptionContent">
        <xs:complexContent>
          <xs:extension base="tns:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" xmlns:fus="http://soap.fus.client.chipkarte.at" xmlns:tns="http://exceptions.soap.fus.client.chipkarte.at" elementFormDefault="qualified" targetNamespace="http://exceptions.soap.fus.client.chipkarte.at" version="1.0">
      <xs:import namespace="http://exceptions.soap.base.client.chipkarte.at" />
      <xs:element name="FusException" type="tns:fusExceptionContent" />
      <xs:element name="FusInvalidParameterException" type="tns:fusInvalidParameterExceptionContent" />
      <xs:complexType name="fusExceptionContent">
        <xs:complexContent>
          <xs:extension base="baseexc:baseExceptionContent">
            <xs:sequence>
              <xs:element name="svtCodes" type="xs:string" maxOccurs="unbounded" minOccurs="0" nillable="true" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="fusInvalidParameterExceptionContent">
        <xs:complexContent>
          <xs:extension base="baseexc:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" elementFormDefault="qualified" targetNamespace="http://soap.base.client.chipkarte.at" version="1.0">
      <xs:complexType name="property">
        <xs:sequence>
          <xs:element name="key" type="xs:string" minOccurs="0" />
          <xs:element name="value" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="svPersonV2">
        <xs:sequence>
          <xs:element name="druckNachname" type="xs:string" minOccurs="0" />
          <xs:element name="druckTitelHinten" type="xs:string" minOccurs="0" />
          <xs:element name="druckTitelVorne" type="xs:string" minOccurs="0" />
          <xs:element name="druckVorname" type="xs:string" minOccurs="0" />
          <xs:element name="geburtsdatum" type="xs:string" minOccurs="0" />
          <xs:element name="geschlecht" type="xs:string" minOccurs="0" />
          <xs:element name="nachname" type="xs:string" minOccurs="0" />
          <xs:element name="svNummer" type="xs:string" minOccurs="0" />
          <xs:element name="titelHinten" type="xs:string" minOccurs="0" />
          <xs:element name="titelVorne" type="xs:string" minOccurs="0" />
          <xs:element name="vorname" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://soap.base.client.chipkarte.at" xmlns:fusexc="http://exceptions.soap.fus.client.chipkarte.at" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" elementFormDefault="qualified" targetNamespace="http://soap.fus.client.chipkarte.at" version="1.0">
      <xs:import namespace="http://soap.base.client.chipkarte.at" />
      <xs:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="http://www.w3.org/2005/05/xmlmime" />
      <xs:element name="checkStatus" type="tns:checkStatus" />
      <xs:element name="checkStatusResponse" type="tns:checkStatusResponse" />
      <xs:element name="eigeneFormulareAbfragen" type="tns:eigeneFormulareAbfragen" />
      <xs:element name="eigeneFormulareAbfragenResponse" type="tns:eigeneFormulareAbfragenResponse" />
      <xs:element name="formularAbfragen" type="tns:formularAbfragen" />
      <xs:element name="formularAbfragenResponse" type="tns:formularAbfragenResponse" />
      <xs:element name="formularErfassen" type="tns:formularErfassen" />
      <xs:element name="formularErfassenResponse" type="tns:formularErfassenResponse" />
      <xs:element name="formularinfoErmitteln" type="tns:formularinfoErmitteln" />
      <xs:element name="formularinfoErmittelnResponse" type="tns:formularinfoErmittelnResponse" />
      <xs:element name="formularstammdatenErmitteln" type="tns:formularstammdatenErmitteln" />
      <xs:element name="formularstammdatenErmittelnResponse" type="tns:formularstammdatenErmittelnResponse" />
      <xs:element name="korrekturSenden" type="tns:korrekturSenden" />
      <xs:element name="korrekturSendenResponse" type="tns:korrekturSendenResponse" />
      <xs:element name="relevanteWpFachgebieteErmitteln" type="tns:relevanteWpFachgebieteErmitteln" />
      <xs:element name="relevanteWpFachgebieteErmittelnResponse" type="tns:relevanteWpFachgebieteErmittelnResponse" />
      <xs:element name="wpFormularErfassen" type="tns:wpFormularErfassen" />
      <xs:element name="wpFormularErfassenResponse" type="tns:wpFormularErfassenResponse" />
      <xs:element name="wpFormularerfassungPruefen" type="tns:wpFormularerfassungPruefen" />
      <xs:element name="wpFormularerfassungPruefenResponse" type="tns:wpFormularerfassungPruefenResponse" />
      <xs:complexType name="aibDaten">
        <xs:sequence>
          <xs:element name="behandlungsende" type="xs:string" minOccurs="0" />
          <xs:element name="medAngabenEnde" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="akbDaten">
        <xs:sequence>
          <xs:element name="behandlungsende" type="xs:string" minOccurs="0" />
          <xs:element name="endeGrund" type="xs:string" minOccurs="0" />
          <xs:element name="medAngaben" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="attachmentInfo">
        <xs:sequence>
          <xs:element name="dateiinfos" type="tns:dateiinfo" maxOccurs="unbounded" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="bibDaten">
        <xs:sequence>
          <xs:element name="befunddatum" type="xs:string" minOccurs="0" />
          <xs:element name="behandlungsplan" type="xs:string" minOccurs="0" />
          <xs:element name="eingliederung" type="xs:string" minOccurs="0" />
          <xs:element name="erfolgsannahme" type="xs:string" minOccurs="0" />
          <xs:element name="indikationIB" type="xs:string" maxOccurs="unbounded" minOccurs="0" nillable="true" />
          <xs:element name="iotnBib" type="xs:string" minOccurs="0" />
          <xs:element name="lokalisationFehlbildung" type="xs:string" maxOccurs="unbounded" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="bkiDaten">
        <xs:sequence>
          <xs:element name="befunddatum" type="xs:string" minOccurs="0" />
          <xs:element name="eingliederung" type="xs:string" minOccurs="0" />
          <xs:element name="iotnBki" type="xs:string" minOccurs="0" />
          <xs:element name="lokalisationFehlbildung" type="xs:string" maxOccurs="unbounded" minOccurs="0" nillable="true" />
          <xs:element name="medAngabe" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="checkStatus">
        <xs:sequence>
          <xs:element name="dialogId" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="checkStatusResponse">
        <xs:sequence>
          <xs:element name="return" type="base:property" maxOccurs="unbounded" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dateiinfo">
        <xs:sequence>
          <xs:element name="dateiInhaltstyp" type="xs:string" minOccurs="0" />
          <xs:element name="dateiformat" type="xs:string" minOccurs="0" />
          <xs:element name="dateigroesse" type="xs:long" minOccurs="0" />
          <xs:element name="dateiname" type="xs:string" minOccurs="0" />
          <xs:element name="erfassungszeit" type="xs:string" minOccurs="0" />
          <xs:element name="formularcode" type="tns:formularcodegruppe" minOccurs="0" />
          <xs:element name="uebertragungsstatus" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="eigeneFormulareAbfragen">
        <xs:sequence>
          <xs:element name="dialogId" type="xs:string" minOccurs="0" />
          <xs:element name="svNummer" type="xs:string" minOccurs="0" />
          <xs:element name="vorname" type="xs:string" minOccurs="0" />
          <xs:element name="zuname" type="xs:string" minOccurs="0" />
          <xs:element name="formularKennung" type="xs:string" minOccurs="0" />
          <xs:element name="formulartyp" type="xs:string" minOccurs="0" />
          <xs:element name="anlagenstatus" type="xs:string" minOccurs="0" />
          <xs:element name="erstelldatumVon" type="xs:string" minOccurs="0" />
          <xs:element name="erstelldatumBis" type="xs:string" minOccurs="0" />
          <xs:element name="nurKorrigierbare" type="xs:boolean" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="eigeneFormulareAbfragenResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:formularreferenz" maxOccurs="unbounded" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="erstformular">
        <xs:sequence>
          <xs:element name="aib" type="tns:aibDaten" minOccurs="0" />
          <xs:element name="akb" type="tns:akbDaten" minOccurs="0" />
          <xs:element name="attachmentInfo" type="tns:attachmentInfo" minOccurs="0" />
          <xs:element name="bib" type="tns:bibDaten" minOccurs="0" />
          <xs:element name="bki" type="tns:bkiDaten" minOccurs="0" />
          <xs:element name="formulartyp" type="xs:string" minOccurs="0" />
          <xs:element name="konsultationId" type="xs:long" minOccurs="0" />
          <xs:element name="konsultationVersion" type="xs:int" minOccurs="0" />
          <xs:element name="rib" type="tns:ribDaten" minOccurs="0" />
          <xs:element name="rkb" type="tns:rkbDaten" minOccurs="0" />
          <xs:element name="svNummer" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="formular">
        <xs:sequence>
          <xs:element name="aib" type="tns:aibDaten" minOccurs="0" />
          <xs:element name="akb" type="tns:akbDaten" minOccurs="0" />
          <xs:element name="attachmentInfo" type="tns:attachmentInfo" minOccurs="0" />
          <xs:element name="bib" type="tns:bibDaten" minOccurs="0" />
          <xs:element name="bki" type="tns:bkiDaten" minOccurs="0" />
          <xs:element name="druckaufbereitung" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream" minOccurs="0" />
          <xs:element name="formuardatum" type="xs:string" minOccurs="0" />
          <xs:element name="formularcode" type="tns:formularcodegruppe" minOccurs="0" />
          <xs:element name="formulartyp" type="xs:string" minOccurs="0" />
          <xs:element name="konsultation" type="tns:konsultation" minOccurs="0" />
          <xs:element name="rib" type="tns:ribDaten" minOccurs="0" />
          <xs:element name="rkb" type="tns:rkbDaten" minOccurs="0" />
          <xs:element name="svPatient" type="base:svPersonV2" minOccurs="0" />
          <xs:element name="wpBehandlungsdaten" type="tns:wpBehandlungsdaten" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="formularAbfragen">
        <xs:sequence>
          <xs:element name="dialogId" type="xs:string" minOccurs="0" />
          <xs:element name="formularCodePrefix" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="formularAbfragenResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:formular" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="formularErfassen">
        <xs:sequence>
          <xs:element name="dialogId" type="xs:string" minOccurs="0" />
          <xs:element name="cardReaderId" type="xs:string" minOccurs="0" />
          <xs:element name="erstformular" type="tns:erstformular" minOccurs="0" />
          <xs:element name="attachments" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="formularErfassenResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:formular" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="formularcodegruppe">
        <xs:sequence>
          <xs:element name="formularCode" type="xs:string" minOccurs="0" />
          <xs:element name="formularCodePrefix" type="xs:string" minOccurs="0" />
          <xs:element name="formularCodeVersion" type="xs:string" minOccurs="0" />
          <xs:element name="formularKennung" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="formularinfo">
        <xs:sequence>
          <xs:element name="anlagenMoeglich" type="xs:boolean" minOccurs="0" />
          <xs:element name="formulartyp" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="formularinfoErmitteln">
        <xs:sequence>
          <xs:element name="dialogId" type="xs:string" minOccurs="0" />
          <xs:element name="formulartyp" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="formularinfoErmittelnResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:formularinfo" maxOccurs="unbounded" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="formularreferenz">
        <xs:sequence>
          <xs:element name="formularcode" type="tns:formularcodegruppe" minOccurs="0" />
          <xs:element name="formulardatum" type="xs:string" minOccurs="0" />
          <xs:element name="formulartyp" type="xs:string" minOccurs="0" />
          <xs:element name="korrekturMoeglich" type="xs:boolean" minOccurs="0" />
          <xs:element name="svPatient" type="base:svPersonV2" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="formularstammdatenErmitteln">
        <xs:sequence>
          <xs:element name="dialogId" type="xs:string" minOccurs="0" />
          <xs:element name="cardReaderId" type="xs:string" minOccurs="0" />
          <xs:element name="svNummer" type="xs:string" minOccurs="0" />
          <xs:element name="formulartyp" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="formularstammdatenErmittelnErgebnis">
        <xs:sequence>
          <xs:element name="konsultationen" type="tns:konsultation" maxOccurs="unbounded" minOccurs="0" nillable="true" />
          <xs:element name="svPatient" type="base:svPersonV2" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="formularstammdatenErmittelnResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:formularstammdatenErmittelnErgebnis" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="konsultation">
        <xs:sequence>
          <xs:element name="behandlungsdatum" type="xs:string" minOccurs="0" />
          <xs:element name="behandlungsfall" type="xs:string" minOccurs="0" />
          <xs:element name="fachgebietscode" type="xs:string" minOccurs="0" />
          <xs:element name="konsultationId" type="xs:long" minOccurs="0" />
          <xs:element name="konsultationVersion" type="xs:int" minOccurs="0" />
          <xs:element name="kvtPatient" type="xs:string" minOccurs="0" />
          <xs:element name="kvtVerrechnung" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="korrekturSenden">
        <xs:sequence>
          <xs:element name="dialogId" type="xs:string" minOccurs="0" />
          <xs:element name="korrekturformular" type="tns:korrekturformular" minOccurs="0" />
          <xs:element name="formularCodePrefix" type="xs:string" minOccurs="0" />
          <xs:element name="attachments" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="korrekturSendenResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:formular" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="korrekturformular">
        <xs:sequence>
          <xs:element name="aib" type="tns:aibDaten" minOccurs="0" />
          <xs:element name="akb" type="tns:akbDaten" minOccurs="0" />
          <xs:element name="attachmentInfo" type="tns:attachmentInfo" minOccurs="0" />
          <xs:element name="bib" type="tns:bibDaten" minOccurs="0" />
          <xs:element name="bki" type="tns:bkiDaten" minOccurs="0" />
          <xs:element name="formulartyp" type="xs:string" minOccurs="0" />
          <xs:element name="korrekturart" type="xs:string" minOccurs="0" />
          <xs:element name="rib" type="tns:ribDaten" minOccurs="0" />
          <xs:element name="rkb" type="tns:rkbDaten" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="relevanteWpFachgebieteErmitteln">
        <xs:sequence>
          <xs:element name="dialogId" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="relevanteWpFachgebieteErmittelnResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" maxOccurs="unbounded" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ribDaten">
        <xs:sequence>
          <xs:element name="grund" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="rkbDaten">
        <xs:sequence>
          <xs:element name="grund" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="wpBehandlungsdaten">
        <xs:sequence>
          <xs:element name="behandlungsdatum" type="xs:string" minOccurs="0" />
          <xs:element name="fachgebietscode" type="xs:string" minOccurs="0" />
          <xs:element name="kvt" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="wpErstformular">
        <xs:sequence>
          <xs:element name="aib" type="tns:aibDaten" minOccurs="0" />
          <xs:element name="akb" type="tns:akbDaten" minOccurs="0" />
          <xs:element name="attachmentInfo" type="tns:attachmentInfo" minOccurs="0" />
          <xs:element name="behandlungsdatum" type="xs:string" minOccurs="0" />
          <xs:element name="bib" type="tns:bibDaten" minOccurs="0" />
          <xs:element name="bki" type="tns:bkiDaten" minOccurs="0" />
          <xs:element name="fachgebietscode" type="xs:string" minOccurs="0" />
          <xs:element name="formulartyp" type="xs:string" minOccurs="0" />
          <xs:element name="kvt" type="xs:string" minOccurs="0" />
          <xs:element name="rib" type="tns:ribDaten" minOccurs="0" />
          <xs:element name="rkb" type="tns:rkbDaten" minOccurs="0" />
          <xs:element name="svNummer" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="wpFormularErfassen">
        <xs:sequence>
          <xs:element name="dialogId" type="xs:string" minOccurs="0" />
          <xs:element name="cardReaderId" type="xs:string" minOccurs="0" />
          <xs:element name="wpErstformular" type="tns:wpErstformular" minOccurs="0" />
          <xs:element name="attachments" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="wpFormularErfassenResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:formular" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="wpFormularerfassungPruefen">
        <xs:sequence>
          <xs:element name="dialogId" type="xs:string" minOccurs="0" />
          <xs:element name="cardReaderId" type="xs:string" minOccurs="0" />
          <xs:element name="svNummer" type="xs:string" minOccurs="0" />
          <xs:element name="formulartyp" type="xs:string" minOccurs="0" />
          <xs:element name="fachgebietscode" type="xs:string" minOccurs="0" />
          <xs:element name="behandlungsdatum" type="xs:string" minOccurs="0" />
          <xs:element name="kvt" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="wpFormularerfassungPruefenResponse">
        <xs:sequence>
          <xs:element name="return" type="base:svPersonV2" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="AccessException">
    <part xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" name="fault" element="baseexc:AccessException" />
  </message>
  <message name="CardException">
    <part xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" name="fault" element="baseexc:CardException" />
  </message>
  <message name="DialogException">
    <part xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" name="fault" element="baseexc:DialogException" />
  </message>
  <message name="FusException">
    <part xmlns:fusexc="http://exceptions.soap.fus.client.chipkarte.at" name="fault" element="fusexc:FusException" />
  </message>
  <message name="FusInvalidParameterException">
    <part xmlns:fusexc="http://exceptions.soap.fus.client.chipkarte.at" name="fault" element="fusexc:FusInvalidParameterException" />
  </message>
  <message name="ServiceException">
    <part xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" name="fault" element="baseexc:ServiceException" />
  </message>
  <message name="checkStatus">
    <part name="parameters" element="tns:checkStatus" />
  </message>
  <message name="checkStatusResponse">
    <part name="parameters" element="tns:checkStatusResponse" />
  </message>
  <message name="eigeneFormulareAbfragen">
    <part name="parameters" element="tns:eigeneFormulareAbfragen" />
  </message>
  <message name="eigeneFormulareAbfragenResponse">
    <part name="parameters" element="tns:eigeneFormulareAbfragenResponse" />
  </message>
  <message name="formularAbfragen">
    <part name="parameters" element="tns:formularAbfragen" />
  </message>
  <message name="formularAbfragenResponse">
    <part name="parameters" element="tns:formularAbfragenResponse" />
  </message>
  <message name="formularErfassen">
    <part name="parameters" element="tns:formularErfassen" />
  </message>
  <message name="formularErfassenResponse">
    <part name="parameters" element="tns:formularErfassenResponse" />
  </message>
  <message name="formularinfoErmitteln">
    <part name="parameters" element="tns:formularinfoErmitteln" />
  </message>
  <message name="formularinfoErmittelnResponse">
    <part name="parameters" element="tns:formularinfoErmittelnResponse" />
  </message>
  <message name="formularstammdatenErmitteln">
    <part name="parameters" element="tns:formularstammdatenErmitteln" />
  </message>
  <message name="formularstammdatenErmittelnResponse">
    <part name="parameters" element="tns:formularstammdatenErmittelnResponse" />
  </message>
  <message name="korrekturSenden">
    <part name="parameters" element="tns:korrekturSenden" />
  </message>
  <message name="korrekturSendenResponse">
    <part name="parameters" element="tns:korrekturSendenResponse" />
  </message>
  <message name="relevanteWpFachgebieteErmitteln">
    <part name="parameters" element="tns:relevanteWpFachgebieteErmitteln" />
  </message>
  <message name="relevanteWpFachgebieteErmittelnResponse">
    <part name="parameters" element="tns:relevanteWpFachgebieteErmittelnResponse" />
  </message>
  <message name="wpFormularErfassen">
    <part name="parameters" element="tns:wpFormularErfassen" />
  </message>
  <message name="wpFormularErfassenResponse">
    <part name="parameters" element="tns:wpFormularErfassenResponse" />
  </message>
  <message name="wpFormularerfassungPruefen">
    <part name="parameters" element="tns:wpFormularerfassungPruefen" />
  </message>
  <message name="wpFormularerfassungPruefenResponse">
    <part name="parameters" element="tns:wpFormularerfassungPruefenResponse" />
  </message>
  <portType name="IFusService">
    <operation name="checkStatus">
      <input wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/checkStatusRequest" message="tns:checkStatus" />
      <output wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/checkStatusResponse" message="tns:checkStatusResponse" />
      <fault name="AccessException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/checkStatus/Fault/AccessException" message="tns:AccessException" />
      <fault name="DialogException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/checkStatus/Fault/DialogException" message="tns:DialogException" />
      <fault name="ServiceException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/checkStatus/Fault/ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="eigeneFormulareAbfragen">
      <input wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/eigeneFormulareAbfragenRequest" message="tns:eigeneFormulareAbfragen" />
      <output wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/eigeneFormulareAbfragenResponse" message="tns:eigeneFormulareAbfragenResponse" />
      <fault name="AccessException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/eigeneFormulareAbfragen/Fault/AccessException" message="tns:AccessException" />
      <fault name="DialogException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/eigeneFormulareAbfragen/Fault/DialogException" message="tns:DialogException" />
      <fault name="FusException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/eigeneFormulareAbfragen/Fault/FusException" message="tns:FusException" />
      <fault name="FusInvalidParameterException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/eigeneFormulareAbfragen/Fault/FusInvalidParameterException" message="tns:FusInvalidParameterException" />
      <fault name="ServiceException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/eigeneFormulareAbfragen/Fault/ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="formularAbfragen">
      <input wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularAbfragenRequest" message="tns:formularAbfragen" />
      <output wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularAbfragenResponse" message="tns:formularAbfragenResponse" />
      <fault name="AccessException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularAbfragen/Fault/AccessException" message="tns:AccessException" />
      <fault name="DialogException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularAbfragen/Fault/DialogException" message="tns:DialogException" />
      <fault name="FusException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularAbfragen/Fault/FusException" message="tns:FusException" />
      <fault name="FusInvalidParameterException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularAbfragen/Fault/FusInvalidParameterException" message="tns:FusInvalidParameterException" />
      <fault name="ServiceException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularAbfragen/Fault/ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="formularErfassen">
      <input wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularErfassenRequest" message="tns:formularErfassen" />
      <output wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularErfassenResponse" message="tns:formularErfassenResponse" />
      <fault name="AccessException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularErfassen/Fault/AccessException" message="tns:AccessException" />
      <fault name="CardException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularErfassen/Fault/CardException" message="tns:CardException" />
      <fault name="DialogException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularErfassen/Fault/DialogException" message="tns:DialogException" />
      <fault name="FusException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularErfassen/Fault/FusException" message="tns:FusException" />
      <fault name="FusInvalidParameterException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularErfassen/Fault/FusInvalidParameterException" message="tns:FusInvalidParameterException" />
      <fault name="ServiceException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularErfassen/Fault/ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="formularinfoErmitteln">
      <input wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularinfoErmittelnRequest" message="tns:formularinfoErmitteln" />
      <output wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularinfoErmittelnResponse" message="tns:formularinfoErmittelnResponse" />
      <fault name="AccessException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularinfoErmitteln/Fault/AccessException" message="tns:AccessException" />
      <fault name="DialogException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularinfoErmitteln/Fault/DialogException" message="tns:DialogException" />
      <fault name="FusInvalidParameterException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularinfoErmitteln/Fault/FusInvalidParameterException" message="tns:FusInvalidParameterException" />
      <fault name="ServiceException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularinfoErmitteln/Fault/ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="formularstammdatenErmitteln">
      <input wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularstammdatenErmittelnRequest" message="tns:formularstammdatenErmitteln" />
      <output wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularstammdatenErmittelnResponse" message="tns:formularstammdatenErmittelnResponse" />
      <fault name="AccessException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularstammdatenErmitteln/Fault/AccessException" message="tns:AccessException" />
      <fault name="CardException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularstammdatenErmitteln/Fault/CardException" message="tns:CardException" />
      <fault name="DialogException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularstammdatenErmitteln/Fault/DialogException" message="tns:DialogException" />
      <fault name="FusException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularstammdatenErmitteln/Fault/FusException" message="tns:FusException" />
      <fault name="FusInvalidParameterException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularstammdatenErmitteln/Fault/FusInvalidParameterException" message="tns:FusInvalidParameterException" />
      <fault name="ServiceException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/formularstammdatenErmitteln/Fault/ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="korrekturSenden">
      <input wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/korrekturSendenRequest" message="tns:korrekturSenden" />
      <output wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/korrekturSendenResponse" message="tns:korrekturSendenResponse" />
      <fault name="AccessException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/korrekturSenden/Fault/AccessException" message="tns:AccessException" />
      <fault name="DialogException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/korrekturSenden/Fault/DialogException" message="tns:DialogException" />
      <fault name="FusException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/korrekturSenden/Fault/FusException" message="tns:FusException" />
      <fault name="FusInvalidParameterException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/korrekturSenden/Fault/FusInvalidParameterException" message="tns:FusInvalidParameterException" />
      <fault name="ServiceException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/korrekturSenden/Fault/ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="relevanteWpFachgebieteErmitteln">
      <input wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/relevanteWpFachgebieteErmittelnRequest" message="tns:relevanteWpFachgebieteErmitteln" />
      <output wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/relevanteWpFachgebieteErmittelnResponse" message="tns:relevanteWpFachgebieteErmittelnResponse" />
      <fault name="AccessException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/relevanteWpFachgebieteErmitteln/Fault/AccessException" message="tns:AccessException" />
      <fault name="DialogException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/relevanteWpFachgebieteErmitteln/Fault/DialogException" message="tns:DialogException" />
      <fault name="FusException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/relevanteWpFachgebieteErmitteln/Fault/FusException" message="tns:FusException" />
      <fault name="ServiceException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/relevanteWpFachgebieteErmitteln/Fault/ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="wpFormularErfassen">
      <input wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/wpFormularErfassenRequest" message="tns:wpFormularErfassen" />
      <output wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/wpFormularErfassenResponse" message="tns:wpFormularErfassenResponse" />
      <fault name="AccessException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/wpFormularErfassen/Fault/AccessException" message="tns:AccessException" />
      <fault name="CardException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/wpFormularErfassen/Fault/CardException" message="tns:CardException" />
      <fault name="DialogException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/wpFormularErfassen/Fault/DialogException" message="tns:DialogException" />
      <fault name="FusException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/wpFormularErfassen/Fault/FusException" message="tns:FusException" />
      <fault name="FusInvalidParameterException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/wpFormularErfassen/Fault/FusInvalidParameterException" message="tns:FusInvalidParameterException" />
      <fault name="ServiceException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/wpFormularErfassen/Fault/ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="wpFormularerfassungPruefen">
      <input wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/wpFormularerfassungPruefenRequest" message="tns:wpFormularerfassungPruefen" />
      <output wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/wpFormularerfassungPruefenResponse" message="tns:wpFormularerfassungPruefenResponse" />
      <fault name="AccessException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/wpFormularerfassungPruefen/Fault/AccessException" message="tns:AccessException" />
      <fault name="CardException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/wpFormularerfassungPruefen/Fault/CardException" message="tns:CardException" />
      <fault name="DialogException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/wpFormularerfassungPruefen/Fault/DialogException" message="tns:DialogException" />
      <fault name="FusException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/wpFormularerfassungPruefen/Fault/FusException" message="tns:FusException" />
      <fault name="FusInvalidParameterException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/wpFormularerfassungPruefen/Fault/FusInvalidParameterException" message="tns:FusInvalidParameterException" />
      <fault name="ServiceException" wsam:Action="http://soap.fus.client.chipkarte.at/IFusService/wpFormularerfassungPruefen/Fault/ServiceException" message="tns:ServiceException" />
    </operation>
  </portType>
  <binding name="fus_2Binding" type="tns:IFusService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="checkStatus">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AccessException">
        <soap:fault name="AccessException" use="literal" />
      </fault>
      <fault name="DialogException">
        <soap:fault name="DialogException" use="literal" />
      </fault>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal" />
      </fault>
    </operation>
    <operation name="eigeneFormulareAbfragen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AccessException">
        <soap:fault name="AccessException" use="literal" />
      </fault>
      <fault name="DialogException">
        <soap:fault name="DialogException" use="literal" />
      </fault>
      <fault name="FusException">
        <soap:fault name="FusException" use="literal" />
      </fault>
      <fault name="FusInvalidParameterException">
        <soap:fault name="FusInvalidParameterException" use="literal" />
      </fault>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal" />
      </fault>
    </operation>
    <operation name="formularAbfragen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AccessException">
        <soap:fault name="AccessException" use="literal" />
      </fault>
      <fault name="DialogException">
        <soap:fault name="DialogException" use="literal" />
      </fault>
      <fault name="FusException">
        <soap:fault name="FusException" use="literal" />
      </fault>
      <fault name="FusInvalidParameterException">
        <soap:fault name="FusInvalidParameterException" use="literal" />
      </fault>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal" />
      </fault>
    </operation>
    <operation name="formularErfassen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AccessException">
        <soap:fault name="AccessException" use="literal" />
      </fault>
      <fault name="CardException">
        <soap:fault name="CardException" use="literal" />
      </fault>
      <fault name="DialogException">
        <soap:fault name="DialogException" use="literal" />
      </fault>
      <fault name="FusException">
        <soap:fault name="FusException" use="literal" />
      </fault>
      <fault name="FusInvalidParameterException">
        <soap:fault name="FusInvalidParameterException" use="literal" />
      </fault>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal" />
      </fault>
    </operation>
    <operation name="formularinfoErmitteln">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AccessException">
        <soap:fault name="AccessException" use="literal" />
      </fault>
      <fault name="DialogException">
        <soap:fault name="DialogException" use="literal" />
      </fault>
      <fault name="FusInvalidParameterException">
        <soap:fault name="FusInvalidParameterException" use="literal" />
      </fault>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal" />
      </fault>
    </operation>
    <operation name="formularstammdatenErmitteln">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AccessException">
        <soap:fault name="AccessException" use="literal" />
      </fault>
      <fault name="CardException">
        <soap:fault name="CardException" use="literal" />
      </fault>
      <fault name="DialogException">
        <soap:fault name="DialogException" use="literal" />
      </fault>
      <fault name="FusException">
        <soap:fault name="FusException" use="literal" />
      </fault>
      <fault name="FusInvalidParameterException">
        <soap:fault name="FusInvalidParameterException" use="literal" />
      </fault>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal" />
      </fault>
    </operation>
    <operation name="korrekturSenden">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AccessException">
        <soap:fault name="AccessException" use="literal" />
      </fault>
      <fault name="DialogException">
        <soap:fault name="DialogException" use="literal" />
      </fault>
      <fault name="FusException">
        <soap:fault name="FusException" use="literal" />
      </fault>
      <fault name="FusInvalidParameterException">
        <soap:fault name="FusInvalidParameterException" use="literal" />
      </fault>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal" />
      </fault>
    </operation>
    <operation name="relevanteWpFachgebieteErmitteln">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AccessException">
        <soap:fault name="AccessException" use="literal" />
      </fault>
      <fault name="DialogException">
        <soap:fault name="DialogException" use="literal" />
      </fault>
      <fault name="FusException">
        <soap:fault name="FusException" use="literal" />
      </fault>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal" />
      </fault>
    </operation>
    <operation name="wpFormularErfassen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AccessException">
        <soap:fault name="AccessException" use="literal" />
      </fault>
      <fault name="CardException">
        <soap:fault name="CardException" use="literal" />
      </fault>
      <fault name="DialogException">
        <soap:fault name="DialogException" use="literal" />
      </fault>
      <fault name="FusException">
        <soap:fault name="FusException" use="literal" />
      </fault>
      <fault name="FusInvalidParameterException">
        <soap:fault name="FusInvalidParameterException" use="literal" />
      </fault>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal" />
      </fault>
    </operation>
    <operation name="wpFormularerfassungPruefen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AccessException">
        <soap:fault name="AccessException" use="literal" />
      </fault>
      <fault name="CardException">
        <soap:fault name="CardException" use="literal" />
      </fault>
      <fault name="DialogException">
        <soap:fault name="DialogException" use="literal" />
      </fault>
      <fault name="FusException">
        <soap:fault name="FusException" use="literal" />
      </fault>
      <fault name="FusInvalidParameterException">
        <soap:fault name="FusInvalidParameterException" use="literal" />
      </fault>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal" />
      </fault>
    </operation>
  </binding>
  <service name="FusService">
    <port name="fus_2" binding="tns:fus_2Binding">
      <soap:address location="https://10.196.2.18/fus/2" />
    </port>
  </service>
</definitions>
